[Unit]
Description=Battery Maintainer Application
After=graphical.target argonpod.service
Wants=graphical.target

[Service]
Type=simple
User=pi
# Remove DISPLAY for framebuffer (Argon POD)
Environment=KIVY_WINDOW=sdl2
WorkingDirectory=/home/pi/USB-Battery-Device-Maintainer
ExecStart=/usr/bin/python3 /home/pi/USB-Battery-Device-Maintainer/battery_maintainer.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
